<div class="container">
    <div class="my_custom_menu">
        <ul>
            <li>
                <form action="{% url 'search:search' %}" method="GET" class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <label for="search" class="sr-only">Product name</label>
                        <input type="text" class="form-control" id="search"  name="q" placeholder="Product name">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2">Find</button>
                </form>
            </li>
            <li>
                <a class="nav-link" href="{% url 'shop:add_product' %}">Add Product</a>
            </li>
        </ul>

    </div>
</div>
<!--<div class="container">-->
<!--	<div class="my_custom_menu">-->
<!--    <a class="nav-link" href="{% url 'shop:add_product' %}">Add Product</a>-->
<!--	</div>-->
<!--</div>-->
