<div class="container">
    <nav class="tnb navbar navbar-expand-lg navbar-light bg-light">
        {% if user.is_authenticated %}
            <h5 >Welcome, {{ user.username }} <i class="fas fa-user-circle"></i></h5>
            <div class="tnb left-section">
                <a class="nav-link" href="{% url 'shop:add_product' %}">Add Product</a>
                <a class="nav-link" href="{% url 'accounts:signout' %}"><i class="fas fa-sign-out-alt"></i> Sign Out</a>
            </div>
        {% else %}
            <a class="nav-link" href='{% url "accounts:signin" %}'><i class="fas fa-sign-in-alt"></i> Sign In</a>
            <a class="nav-link" href='{% url "accounts:signup" %}'><i class="fas fa-user-plus"></i> Sign Up</a>
        {% endif%}
    </nav>
</div>